<h2>Writing Portfolio</h2>
<ul>
  <li>See the writing style that I follow for developer and user documentation, <a href="https://inverselattice.gitbook.io/docs/">Documentation</a> website.</li>
  <li>Get to know my perspective on various issues at my personal blog, <a href="https://thoughtscape.in/">Thoughtscape</a>.</li>
  <li>Connect with me on a creative level where I review movies and series, <a href="https://cinemaverse.in/">Cinema</a>.</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mrsauravs">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/saurabh-sugandh-97280148/">The Author</a>
  </li>
</ul>
