<h2>Portfolio</h2>
<ul>
  <li>A perspective on developer and user documentation, <a href="https://inverselattice.gitbook.io/docs/">Docs-Plain</a> website.</li>
  <li>My social commentary that goes beyond politics, <a href="https://beyondpolitik.com/">Beyond Politik</a>.</li>
  <li>Explore cinema with social perspective, <a href="https://inverselattice.com/">Inverse Lattice</a>.</li>
  <li>YouTube channel on cinema and reviews: <a href="https://www.youtube.com/@inverselattice">Inverse Lattice (YouTube)</a>.</li>
  <li>YouTube channel on documentation: <a href="https://www.youtube.com/@docs-plain">Docs-Plain (YouTube)</a>.</li>
  <li>Work samples are stored on: <a href="https://drive.google.com/drive/folders/1LPmVniUrgkzWhahT20rkUCjjPG7Z7bvz?usp=sharing"> Google Drive</a>.</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mrsauravs">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/saurabh-sugandh-97280148/">The Author</a>
  </li>
</ul>
